[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "actibase"]
	path = actibase
	url = https://github.com/jhuwit/actibase
[submodule "actiread"]
	path = actiread
	url = https://github.com/jhuwit/actiread
[submodule "mapnhanespa"]
	path = mapnhanespa
	url = https://github.com/jhuwit/mapnhanespa
[submodule "walking"]
	path = walking
	url = https://github.com/jhuwit/walking
