[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "actibase"]
	path = actibase
	url = https://github.com/jhuwit/actibase
[submodule "mapnhanespa"]
	path = mapnhanespa
	url = https://github.com/jhuwit/mapnhanespa
